*.~lock*
.DS_Store
gb
*__pycache__
data/COL/MEN_MATRICULA_EN_EDUCACION_EN_PREESCOLAR__B_SICA_Y_MEDIA_2010_A_2017.csv
archive
*.idea*

data/bgd/bgd_poi_educationfacilities_lged
data/IDN/IDN_school_facilities
data/KGZ/kgz_edufac_unicef_shp
